{{template "base" .}}
{{ define "content" }}

    <div class="text-white text-center justify-center items-center flex max-w-md mx-auto h-full drop-shadow-md bg-gradient-to-r from-pink-500 to-blue-500 rounded-xl my-3 p-8">
        <img class="w-20"src="/public/images/phone-icon.png" alt="phone image">
        <div class="mx-10">
            <h1 class="my-4 text-xl">Contact Us!</h1>
            <p class="my-4 font-thin m-x"><b>Phone</b><br> 810-293-5555</p>
            <p class="my-4 font-thin"><b>Email</b> <br>fake@email.com</p>
        </div>
        <img class="w-20"src="/public/images/email-icon.png" alt="">
    </div>
{{end}}