{{template "base" .}}
{{define "content"}}
<div class="text-white max-w-md mb-4 mx-auto h-full drop-shadow-md bg-gradient-to-r from-pink-500 to-blue-500 rounded-2xl p-8">
        <div class="flex items-center">
            <img class="h-5 my-4" src="/public/images/english-icon.png" alt="english icon">
            <h1 class="text-xl">England</h1>
        </div>
        <img  class="rounded-xl" src="/public/images/england.jpg" alt="england with trees and big building">
        <p class="font-thin">
            England is the perfect place to stay for your vacation because it has everything you need.
            Why? With English Hospitality Bed and Breakfast being on the outskirts of London. You can enjoy
            all of the beautiful scenery without being far away from luxuries of the city. Explore the outdoors
            or explore the bustling city of London, full of history and life.
        </p>
        <a href="/room-index">
            <button class="rounded-xl my-2 p-2 bg-blue-900 text-white">Explore Rooms</button>
        </a>

    </div>
{{end}}