{{template "base" .}}

{{define "content"}}
<div class="flex p-8 max-w-3xl flex-col mx-auto align-middle">
    
    <div class="flex space-x-6 items-stretch">
        <div class="text-white max-w-md h-full drop-shadow-md bg-gradient-to-r from-pink-500 to-blue-500 rounded-2xl my-3 p-8">
            <h1 class="my-4 text-xl">English Retreat</h1>
            <img class="rounded-lg" src="./public/images/outside.png"/>
            <p class="my-4 font-thin">Step into the magic</p>
        </div>
        <div class="text-white max-w-md h-full drop-shadow-md bg-gradient-to-r from-pink-500 to-blue-500 rounded-2xl my-3 p-8">
            <h1 class="my-4 text-xl">Feel Special</h1>
            <img class="rounded-lg" src="./public/images/tray.png"/>
            <p class="my-4 font-thin">World class service is one call away</p>
        </div>
    </div>
    
    <div class="flex space-x-6">
        <div class="text-white max-w-md h-full drop-shadow-md bg-gradient-to-r from-pink-500 to-blue-500 rounded-2xl my-3 p-8">
            <h1 class="my-4 text-xl">Relax</h1>
            <img class="rounded-lg" src="./public/images/woman-laptop.png"/>
            <p class="my-4 font-thin">Comfort and solice are right here</p>
        </div>
        <div class="text-white max-w-md h-full drop-shadow-md bg-gradient-to-r from-pink-500 to-blue-500 rounded-2xl my-3 p-8">
            <h1 class="my-4 text-xl">Contact Us!</h1>
            <p>810-293-5555</p>
            <p class="my-4 font-thin">Ask any questions you have to our lovely customer service team!</p>
        </div>
    </div>
</div>


{{end}}